/* 定义根作用域下的变量 */
:root {
  --theme-color: #333;
  --theme-background: #fff;
  --content-background: #f6f8f9;
}

/*左右垂直居中*/
.layout-abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*垂直居中*/
.layout-center {
  display: flex;
  align-items: center;
}

/*横向左右垂直居右*/
.layout-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}