/* 切换主题的动画效果 */
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  animation: 0.5s ease-in circle-animation;
  mix-blend-mode: normal;
}

@keyframes circle-animation {
  from {
    clip-path: circle(0 at var(--circle-x) var(--circle-y));
  }
  to {
    clip-path: circle(var(--circle-r) at var(--circle-x) var(--circle-y));
  }
}

/*左右垂直居中*/
.layout-abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*垂直居中*/
.layout-center {
  display: flex;
  align-items: center;
}

/*横向左右垂直居右*/
.layout-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}