html[data-theme='dark'] {
  --theme-color: #fff;
  --theme-background: #102128;
}

/* 定义根作用域下的变量 */
:root {
  --theme-color: #333;
  --theme-background: #eee;
}

/*左右垂直居中*/
.layout-abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
}